{#
 # Richtext Elements
 #}

{# set date format like this: January 1st #}
{% set postDate = entry.postDate | date("F jS") %}

{# Post not from this year? Append year: January 1st, 2014 #}
{% if (entry.postDate.year != now.year) %}
    {% set postDate = postDate ~ (", " ~ entry.postDate.year) %}
{% endif %}


{% set blocks = entry.dynamicBlogPost %}

{% if blocks | length %}

    {% for block in blocks %}

        {#
         # postHeadline
         # headline and optional introduction text
         #}

        {% if block.type == "postIntro" %}

        <article class="richtext__intro__wrapper">
            <div class="richtext__intro__headline">
                {{ block.headline }}
                <p class="richtext__intro__date" title="{{ entry.postDate }}">{{ postDate }}</p>
            </div>

            <div class="richtext__intro__text">
                {{ block.introduction }}
            </div>
        </article>

        {% endif %}


        {#
         # richText
         # rich text field with the option for 1, 2 or 3 columns
         #}

        {% if block.type == "richText" %}

            <div class="richtext__blob__wrapper">
                {{ block.blob }}
            </div>

        {% endif %}

        {#
         # quote
         #
         #}

        {% if block.type == "quote" %}

            <blockquote class="richtext__quote">
                {{ block.quote }}
            </blockquote>

        {% endif %}


        {#
         # quickVote
         # Simple question, simple answers
         #}

        {% if block.type == "quickVote" %}

            {% set options = block.options | split(',') %}

            <div class="richtext__vote__wrapper" data-page-id="{{entry.id}}" data-vote-id="{{block.id}}">

                <h4 class="richtext__vote__headline">
                    {{ block.question }}
                </h4>

                <div class="richtext__vote__list">

                    {# Show a button for each given option #}
                    {% for option in options %}
                        <div class="richtext__vote__item">
                            <button class="button-pillar" data-vote-index="{{loop.index0}}">{{option|trim}}</button>
                            <span class="percent"></span>
                        </div>
                    {% endfor %}
                </div>
            </div>

        {% endif %}


    {% endfor %}
{% endif %}
