/**
 * Helpers (no CSS output)
 */

// Custom variables and functions
@import "base/variables";
@import "helper/functions";

// Custom mixins and extends
@import "helper/mixins";
@import "helper/extends";

/**
 * Basic Styles
 */

// Normalize.scss
@import "../bower_components/normalize-scss/normalize";

// Global styles
@import "base/animations";
@import "base/fonts";
@import "base/typography";
@import "base/generals";
@import "base/utilities";

/**
 * Modules
 */

@import "modules/button/button-pillar";
@import "modules/feature/feature-query";
@import "modules/feature/feature-words";
@import "modules/layout/layout";
@import "modules/layout/layout-footer";
@import "modules/layout/layout-triangle";
@import "modules/navigation/navigation-main";
@import "modules/quote/quote-shuffle";
@import "modules/richtext/richtext";
@import "modules/richtext/richtext-image";
@import "modules/rows/row";
@import "modules/rows/row-triangle";
@import "modules/social/social-share";
@import "modules/teaser/teaser-compact";
@import "modules/theme/theme-section";

// Needs to be last, to make sure it can overwrite previously set styles
@import "modules/theme/theme-article--34-reasons-not-to-blog";
@import "modules/theme/theme-article--45-craft-the-cms-you-should-know";
@import "modules/theme/theme-article--72-deployment-for-the-rest-of-us";
