/**
 * Dynamic Blog Post
 *
 - .richtext__intro  | Introduction headline, date, text
 - .richtext__quote  | Emphasized blockquote
 - .richtext__voting   | Simple inline voting tool
 */

/*
 * Intro
 */

.richtext__intro__wrapper {
    display: flex;
    justify-content: center;

    // make sure the content ist above quote-shuffle
    position: relative;
    z-index: 1;
}

.richtext__intro__headline {
    flex-basis: em(380);
    margin-right: em(40);
    text-align: right;

    h1 {
        font-size: size(2);
        line-height: lineHeight(2);
    }

    &._large {

        h1 {
            font-size: size(1);
            line-height: lineHeight(1);
        }
    }
}

.no-flexbox & {
    .richtext__intro__wrapper {
        margin: 0 auto;
        max-width: em(580);
    }

    .richtext__intro__headline {
        text-align: left;
    }
}

.richtext__intro__text em {
	font-size: size(3);
    line-height: lineHeight(3);
    font-style: normal;
}

.richtext__intro__date {
    font-size: size(5);
    color: color(4, $colors-bw);
}

/**
 * Text
 */

.richtext__intro__wrapper,
.richtext__text__wrapper {
    p {
        max-width: em(650);
        margin: 0 0 baselineMargin(size($font-size-base), lineHeight($font-size-base), 1);

        &._info-box {
            max-width: none;
            padding: em($base--space-default * 2, size(5));
            font-size: size(5);
            background: color(6, $colors-bw);
        }
    }

    h1 em,
    h2 em,
    h3 {
        font-family: $font-family-serif;
        font-style: italic;
    }

    h1 {
        margin-bottom: 0;

        em {
            color: color(1, $colors-writing-34);
        }
    }
}

.richtext__text__wrapper {
    h2 {
        em {
            color: color(4, $colors-writing-34);
        }
    }

    h3 {
        color: color(4, $colors-writing-34);
    }

    ul {
        margin-bottom: em($base--space-default * 2);
        padding: 0 em($base--space-default * 2) 0;
    }

    li {
        padding: em($base--space-default) 0;
        font-size: size(5);
        line-height: lineHeight(5);
        border-top: 1px solid color(5, $colors-bw);

        &:first-child {
            border: none;
        }
    }
}

/*
 * Quote
 */

.richtext__quote__wrapper {
    @extend %clearfix;
    margin: em(95) auto;
    max-width: em(750);
}

.richtext__quote__content {
    margin: 0 0 em(20);
    font-family: $font-family-serif;
    font-size: size(2);
    line-height: lineHeight(2);
    font-style: italic;
    text-align: center;

    &._long {
        font-size: size(3);
        text-align: left;
    }
}

.richtext__quote__source {
    float: right;

    &:before {
        content: '– ';
    }
}

/**
 * Code Blocks
 */

.richtext__text__wrapper pre {
    margin-bottom: em($base--space-default * 3, size(5));
    padding: em($base--space-default * 2, size(5));
    font-family: $font-family-monospace;
    font-size: size(5);
    color: color(2, $colors-bw);
    background: color(3, $colors-bw);
}

.richtext__text__wrapper code {
    font-family: $font-family-monospace;
    margin: 0;
    padding: 0.2em;
    font-size: 85%;
    background-color: rgba(0,0,0,0.04);
    border-radius: 3px;
}

/*
 * Inline Voting
 */

.no-js .richtext__voting__wrapper,
.lt-ie9 .richtext__voting__wrapper,
.ie9 .richtext__voting__wrapper {
    display: none;
}

.richtext__voting__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: em(50) auto;
}

.richtext__voting__headline {
    flex-basis: em(180);
    text-align: right;
    line-height: 1.3;
    font-weight: 300;
}

.richtext__voting__list {
    .button-pillar {

        &[disabled],
        &[disabled]:after {
            transition: all 0.3s ease;
        }
    }
}

.richtext__voting__item {
    position: relative;
    float: left;
    margin-left: em(20);

    &:nth-child(1) {
        color: color(4, $colors-writing-34);

        button {

            &:after {
                background-color: darken(color(4, $colors-writing-34), 5%);
            }

            &:before {
                border-color: color(4, $colors-writing-34);
            }
        }
    }

    &:nth-child(2) {
        color: color(2, $colors-writing-34);

        button {

            &:after {
                background-color: color(2, $colors-writing-34);
            }

            &:before {
                border-color: color(1, $colors-writing-34);
            }
        }
    }

    &.is-inactive {
        color: color(4, $colors-bw);

        button {

            &:after {
                background-color: darken(color(4, $colors-bw), 5%);
            }

            &:before {
                border-color: color(4, $colors-bw);
            }
        }
    }

    button,
    .percent {
        color: inherit;
    }

    .percent {
        display: block;
        position: absolute;
        left: 0;
        bottom: em(-50);
        width: 100%;
        text-align: center;
        opacity: 0;
        transition: opacity 0.3s ease;

        &.is-visible {
            opacity: 1;
        }
    }
}

/**
 * Video Embed
 */

.richtext__video__wrapper {
    @extend %clearfix;
    margin: 0 auto em(40);
}

.richtext__video__container {
    position: relative;
    height: 0;
    padding-top: 100% / (16 / 9);
}

.richtext__video__iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.richtext__video__source {
    font-size: size(5);
    float: right;
}

@include breakpoint($BP_WIDESCREEN_MIN) {
    .richtext__video__wrapper {
        width: 60%;
    }
}

@include breakpoint(false, $BP_SMARTPHONE_MAX) {
    .richtext__voting__wrapper {
        display: block;
    }

    .richtext__voting__headline {
        text-align: left;
    }

    .richtext__voting__list {
        @include clearfix;
        padding: em(30) 0;
    }
}
