/**
 * Unique Styles For: Reasons Not To Blog
 */

.theme-article--34 {
    .layout__content {
        margin-top: em(228);
    }

    .row-triangle__background path {
        opacity: 0.98;
        transform: rotate(9deg);
    }

    .row-triangle__content {
        padding-top: em(200);
    }

    .layout-triangle__item-1,
    .layout-triangle__item-3 {
        transform: translate(442px, 853px) rotate(-66deg);
        fill: color(4, $colors-writing-34);
    }

    .layout-triangle__item-2 {
        transform: translate(446px, 715px) rotate(-60deg);
        fill: color(2, $colors-bw);
        opacity: 0.2;
    }

    .layout-triangle__item-3 {
        transform: translate(334px, 713px) rotate(-50deg);
        opacity: 1;
    }

    .layout-triangle__item-4 {
        transform: translate(231px, 700px) rotate(-42deg);
        fill: color(1, $colors-writing-34);
    }

    .quote-shuffle__list {
        position: absolute;
        top: em(-60);
        right: 8%;
    }

    .quote-shuffle__item em {
        font-family: $font-family-serif;
        color: color(1, $colors-writing-34);
    }

    .richtext__quote__content {
        color: color(4, $colors-writing-34);
    }

    a {

        &:link,
        &:active,
        &:visited {
            @include link-style(color(4, $colors-writing-34));
        }

        &:hover {
            @include link-style(color(4, $colors-writing-34), true);
        }
    }
}

@include breakpoint(false, $BP_SMARTPHONE_MAX) {
    .theme-article--34 {
        .quote-shuffle-list {
            font-size: 80%;
            top: 0;
        }
    }
}

