// Not really needed by now. Enable when needed.
@font-face {
  font-family: 'Raleway';
  src: url('/assets/fonts/Raleway-Thin.eot'); /* IE9 Compat Modes */
  src: url('/assets/fonts/Raleway-Thin.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/fonts/Raleway-Thin.woff') format('woff'), /* Modern Browsers */
       url('/assets/fonts/Raleway-Thin.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/assets/fonts/Raleway-Thin.svg#9d88af5bcbe5cc0ab85ffc4f0a7265cc') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  100;
}

@font-face {
  font-family: 'Raleway';
  src: url('/assets/fonts/Raleway-ExtraLight.eot'); /* IE9 Compat Modes */
  src: url('/assets/fonts/Raleway-ExtraLight.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/fonts/Raleway-ExtraLight.woff') format('woff'), /* Modern Browsers */
       url('/assets/fonts/Raleway-ExtraLight.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/assets/fonts/Raleway-ExtraLight.svg#e01e70f91703ec773b0480a1714e8ebd') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  200;
}

@font-face {
  font-family: 'Raleway';
  src: url('/assets/fonts/Raleway-Light.eot'); /* IE9 Compat Modes */
  src: url('/assets/fonts/Raleway-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/fonts/Raleway-Light.woff') format('woff'), /* Modern Browsers */
       url('/assets/fonts/Raleway-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/assets/fonts/Raleway-Light.svg#a629611727a36c86101ab9fa7aceda04') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  300;
}

