// Not really needed by now. Enable when needed.
@font-face {
  font-family: 'Raleway';
  src: url('/assets/fonts/Raleway-Thin.eot');
  src: url('/assets/fonts/Raleway-Thin.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/Raleway-Thin.woff') format('woff'),
       url('/assets/fonts/Raleway-Thin.ttf')  format('truetype'),
       url('/assets/fonts/Raleway-Thin.svg#9d88af5bcbe5cc0ab85ffc4f0a7265cc') format('svg');

  font-style:   normal;
  font-weight:  100;
}

@font-face {
  font-family: 'Raleway';
  src: url('/assets/fonts/Raleway-ExtraLight.eot');
  src: url('/assets/fonts/Raleway-ExtraLight.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/Raleway-ExtraLight.woff') format('woff'),
       url('/assets/fonts/Raleway-ExtraLight.ttf')  format('truetype'),
       url('/assets/fonts/Raleway-ExtraLight.svg#e01e70f91703ec773b0480a1714e8ebd') format('svg');

  font-style:   normal;
  font-weight:  200;
}

@font-face {
  font-family: 'Raleway';
  src: url('/assets/fonts/Raleway-Light.eot');
  src: url('/assets/fonts/Raleway-Light.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/Raleway-Light.woff') format('woff'),
       url('/assets/fonts/Raleway-Light.ttf')  format('truetype'),
       url('/assets/fonts/Raleway-Light.svg#a629611727a36c86101ab9fa7aceda04') format('svg');

  font-style:   normal;
  font-weight:  300;
}

