/**
 * Word reveal
 * SVG styled text can be clicked to reveal corresponding content (used on home)
 *
 * .feature-words | Word reveal with lots of polygons
 */


/**
 * feature-words
 *  Word reveal with lots of polygons
 */

.feature-words {
    pointer-events: none;
}

.feature-words__wrapper {
    @extend %clearfix;
    position: relative;
    padding-bottom: rem(100);
    padding-top: 16%;
}

.feature-words__content {
    pointer-events: auto;
    padding-left: 26%;
}

.feature-words__headline {
    width: 100%;
    height: 1em; // limit height of svg to font height
    font-size: size(1, $size-special);
    font-weight: 100;
    line-height: lineHeight(1);
    margin-bottom: em(20, size(1, $size-special));
    color: color(5, $colors-bw);

    svg {
        display: block;
        width: 100%;

        &:hover path {
            transform-origin: 50% 20%;
            animation: rotateInnerPly 20s ease 1 both;
        }
    }
}

.feature-words__link {
    fill: color(5, $colors-bw);

    &:hover,
    &:focus,
    &._is-active {

        // absolute url for "fill" needed more info:
        // http://stackoverflow.com/questions/15842224/
        fill: url(/#feature-words-P1);
    }

    &._is-active {
        tspan {
            text-decoration: underline;
        }
    }
}

.ie9 .feature-words__link {
    &:hover,
    &:focus,
    &._is-active {

        // ie9 doesn't get the absolute url from above
        fill: url(#feature-words-P1);
    }
}

.js .feature-words__text {
    display: none;
}

.feature-words__text {
    max-width: em(780);
    min-height: em(240);
    margin-bottom: em(20);

    &._is-active {
        display: block;
        animation: 0.7s scaleIn ease-out backwards;
    }

    p {
        font-size: size(2);
        font-weight: 200;
        line-height: lineHeight(2);
        color: color(4);
        margin-bottom: 0;
    }
}

.feature-words__background {
    @extend %composited-layer; // prevents rendering issue in Safari
    position: absolute;
    top: 0;
    left: em(-140);
    z-index: -1;
    width: 100%;

    svg {
        width: 152%;
        max-width: em(1580);
        min-width: 400px;
    }
}


@include breakpoint(false, 880) {
    .feature-words__headline {
        font-size: size(1);
        line-height: lineHeight(1);
        font-weight: 200;
    }

    .feature-words__text p {
        font-size: size(3);
        line-height: lineHeight(3);
    }
}

@include breakpoint(false, 649) {
    .feature-words__headline {
        font-size: size(2);
        line-height: lineHeight(2);
    }

    .feature-words__text p {
        font-size: size(3);
        line-height: lineHeight(3);
    }
}

@include breakpoint(false, $BP_TABLET_MAX) {
    .feature-words__content {
        padding-left: 20%;
    }

    .feature-words__background {
        left: -18%;
    }

    .feature-words__text {
        min-height: em(180);
    }
}

@include breakpoint(false, $BP_SMARTPHONE_MAX) {
    .feature-words__wrapper {
        margin-top: em(20);
    }

    .feature-words__headline {
        font-size: size(2, $size-special);
        line-height: lineHeight(2, $line-height-special);
        font-weight: 300;
    }
}




