{#
 # Default Article
 # Useful for outputting standard blog like articles
 #}

{% extends "_default" %}
{% set pageClass = 'theme-article--' ~ entry.id %} {# unique page class #}

{% block content %}
<div class="row__wrapper">
    <section class="row-triangle__wrapper">
        <article class="row-triangle__content">

            {# A way to prepend custom, article specific markup by simply adding a template file #}
            {% include 'writing/article-partials/' ~ entry.id ~ '--header-prepend' ignore missing %}

            {# Richtext Matrix field #}
            {% include 'matrix/richtext/index' %}

            {# Social Media Sharing #}
            {% include 'partials/social-share' with {facebook: false} %}

            {# Comment section #}
            {% include '_disqus' %}

        </article>


        <div class="row-triangle__background">
            <svg x="0px" y="0px" width="1812px" height="1652px" viewBox="0 0 1812 1652">
                <path fill="#ffffff" d="M1811.746,0.993l-762.383,1650.013L1.242,165.923L1811.746,0.993z"/>
            </svg>
        </div>
    </section>
</div>


{% endblock content %}
