/**
 * Section Related Default Themes
 * Like colors and positions of the big triangles
 */

/*
 * Section: Doing (homepage)
 */

 .theme-section--doing .layout__content {
     margin-top: em(228);
 }

/*
 * Section: Writing
 */

.theme-section--writing {
    transition: background-color 0.3s;

    .layout__content {
        margin-top: em(128);
    }

    .richtext__text__wrapper {
        max-width: em(580);
        margin: 0 auto;
    }

    .row-triangle__background path {
        opacity: 0.98;
    }

    .layout-triangle__item-1 {
        transform: translate(727px, -188px);
        fill: color(1, $colors-writing-34);
    }

    .layout-triangle__item-2,
    .layout-triangle__item-3 {
        fill: color(4, $colors-writing-34);
        opacity: 0.98;
    }

    .layout-triangle__item-2 {
        transform: translate(689px, -2px) rotate(7deg);
    }

    .layout-triangle__item-3 {
        transform: translate(1000px, -80px) rotate(-3deg);
    }

    .layout-triangle__item-4 {
        transform: translate(726px, 70px) rotate(-5deg);
        fill: color(2, $colors-bw);
        opacity: 0.98;
    }

    a {
        &:link,
        &:active,
        &:visited {
            @include link-style(color(1, $colors-writing-34));
        }

        &:hover {
            @include link-style(color(1, $colors-writing-34), true);
        }
    }

    /**
     * Social Share
     */

    .social-share__wrapper {
        display: flex;
        justify-content: center;
        border-top: 1px solid color(5, $colors-bw);
        border-bottom: 1px solid color(5, $colors-bw);
        padding-top: em($base--space-default * 3);
        padding-bottom: em($base--space-default * 2);
        margin-bottom: em($base--space-default * 3);
    }
}

@include breakpoint(0, $BP_TABLET_MAX) {
    .theme-section--writing {
        .richtext__intro__wrapper {
            display: block;
        }

        .richtext__intro__headline {
            text-align: left;
        }

        .social-share__wrapper {
            display: block;
        }

    }
}
